<template name="home">
    <div class="row" style="background-color: white;">
        <div class="col m3">
            <div class="card-panel" style="background-color: #edf3f7">
                Search goes here.
            </div>
            <div class="card-panel" style="background-color: #edf3f7">
                Latest topics go here.
            </div>
            <div class="card-panel" style="background-color: #edf3f7">
                Keywords go here (Maybe, they're kind of useless).
            </div>
            <div class="card-panel" style="background-color: #edf3f7">
                Online users will go here.
            </div>
            <div class="card-panel" style="background-color: #edf3f7">
                Feeds go here (Maybe. RSS at least would be nice)
            </div>

        </div>
        <div class="col m6">
            <div class="card-panel" style="background-color: #edf3f7">
                The front page is kind of blank, but check out the  <a class="toTempPage" style="cursor: pointer">FORUM</a><br />
                Forum construction is only a week old. CSS isn't finalized, as I intend to collaborate with the design with my client.
                <br />
                This forum's mechanics were designed after an already existing forum. The way PM's are structured was designed around that.
                <br />
                IMPLEMENTED:
                1. PM's are feature complete. Has Edit/delete/create. Sentbox/outbox/inbox. And styling. <br />
                2. Forums are mostly complete.
                <br />
                <br />
                TODO:<br />
                Priorities:<br />
                1. Add admin role and functions for creating sub-forums (currently this is done automatically).<br />
                <strike>2. Add paging to the forums</strike><br />
                2.5 Do paging server-side? Forum will be unlikely to be used by a large amount of users, so this wasn't a priority.
                <br />
                Eventually:<br />
                3. Add memberlist page<br />
                4. Add a bunch of profile options, including profile picture.<br />
                5. Fill out all the blank widgets here on the front page.<br />
                6. Add search
                7. Add/SEO/titles to each page using the router.<br />
                8. The list goes on. (Quoting button? Other features that are requested by users when it goes public?)<br />
                9. User account registration email verification. (Won't probably be for awhile, at least after the sites deployed.)


            </div>
        </div>
        <div class="col m3">
            <div class="card-panel" style="background-color: #edf3f7">
                Top posters go here.
            </div>
            <div class="card-panel" style="background-color: #edf3f7">
                Calender goes here (Maybe, it wasn't really used previously)
            </div>
            <div class="card-panel" style="background-color: #edf3f7">
                Top topic starters go here.
            </div>
            <div class="card-panel" style="background-color: #edf3f7">
                Donate method might be go here if we do that.
            </div>
            <div class="card-panel" style="background-color: #edf3f7">
                Staistics go here.
            </div>
        </div>
    </div>
</template>

