<template name="login">
    <div class="row" style="background-color: white;">
        <div class="card" style="background-color: #edf3f7; margin: 0px; padding:20px;">
            <h2 style="margin: 0px;">Log in</h2>
            <form class="login">
                <p>Username: <input type="text" name="username"></p>
                <p>Password: <input type="password" name="password"></p>
                <p class="right-align"><input type="submit" value="Log in"></p>
            </form>
        </div>
    </div>
</template>