<template name="viewTopicReply">
    <div class="row" style="background-color: white;  margin-bottom:0px;">
        <div class="col s3" style="padding-right: 0px;">
            <div class="card" style="background-color: #edf3f7; margin: 0px; padding:20px;">
                <p class="postUsername">{{> nametag owner}}</p>
                {{#with getUserData owner}}
                <p class="postUserData">Posts: {{postCount}}</p>
                <p class="postUserData">Join Date: {{getYear createdAt}}-{{getMonth createdAt}}-{{getDate createdAt}}</p>
                {{/with}}
            </div>
        </div>
        <div class="col s9" style="padding-left: 5px;">
            <div class="card" style="background-color: #edf3f7; margin: 0px; padding:20px;">
                {{#unless inEditMode _id}}
                <p class="author">By <a class="authorName">{{> nametag owner}}</a> at {{> datetag createdAt}}</p>
                <p class="postContent" >{{> showContent}}</p>
                {{#if isOwner _id}}
                <p class="editReply">Edit</p>
                {{#if isLastPost _id}}
                <p class="deleteReply">Delete</p>
                {{/if}}
                {{/if}}
                {{else}}
                <form class="editTopicReply">
                    <label for="content">Content</label>
                    {{> contentInput data=content}}
                    <p><input type="submit" value="Submit"></p>
                </form>
                {{/unless}}
            </div>
        </div>
    </div>
</template>

