<template name="pmHeader">
    <div class="row" style="background-color: white; margin-bottom: 0px; padding-bottom: 20px;">
        <div class="col s3 center">
            <a class="inboxPm">Inbox</a>
        </div>
        <div class="col s3 center">
            <a class="sentboxPm">Sentbox</a>
        </div>
        <div class="col s3 center">
            <a class="outboxPm">Outbox</a>
        </div>
        <div class="col s3 center">
            <a class="newPm">New PM</a>
        </div>
    </div>
</template>

