<template name="readInPm">
    {{> pmHeader}}
    <div class="row" style="background-color: white;  margin-bottom:0px;">
        <div class="col s2" style="padding-right: 0px;">
            <div class="card" style="background-color: #edf3f7; margin: 0px; padding:20px;">
                <p class="postUsername">{{#with from}}{{> nametag}}{{/with}}</p>
            </div>
        </div>
        <div class="col s10" style="padding-left: 5px;">
            <div class="card" style="background-color: #edf3f7; margin: 0px; padding:20px;">
                <p class="pmDeleteButton">Delete</p>
                <p class="pmTitle">{{title}}</p>
                <p class="author">From {{#with from}}{{> nametag}}{{/with}} to {{#with owner}}{{> nametag}}{{/with}}, {{> datetag createdAt}}</p>
                {{#with getContent _id}}
                <p class="postContent" >{{> showContent}}</p>
                {{/with}}
            </div>
        </div>
    </div>
</template>